# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.venv/
.venv311/
venv/

# Build artifacts
build/
dist/
output/
*.spec

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage / cache
.coverage
.pytest_cache/
.mypy_cache/
.pyright/
